# 1. 행정구역 기준에 맞춰 balanced dataset으로 수정하기  
(현재 delivery freq 데이터셋에서 누락되어 있는 값(=결측값)이 뭔지 알 수 없으므로 그거 확인하고 기준이 되는 cleaned data set이 필요함)  
## 1-1. 국가 분류체계 확인
- 법정동 / 행정동... -> 코드로 관리할 수 있으면 좋은데 코드가 자꾸 바뀌어서 어려우니 그냥 지역이름을 str으로 

## 1-2. 메인 데이터셋의 지역을 unique 값으로 뽑아서 일단 눈으로 비교해보기
공식 분류체계를 따라 만든 데이터에 outer join으로 데이터셋 생성하고 records갯수 확인하기

In [1]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv('/Users/seulalee/OneDrive/MyStudy/210816_엘리스AI트랙/TeamProject1/Team11_NaplessRabbit/project-template/rawdata/법정동코드/법정동코드 전체자료.csv')
df

            법정동코드     법정동명  폐지여부 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6
0      1100000000    서울특별시    존재        NaN        NaN        NaN        NaN
1      1111000000    서울특별시   종로구         존재        NaN        NaN        NaN
2      1111010100    서울특별시   종로구        청운동         존재        NaN        NaN
3      1111010200    서울특별시   종로구        신교동         존재        NaN        NaN
4      1111010300    서울특별시   종로구        궁정동         존재        NaN        NaN
...           ...      ...   ...        ...        ...        ...        ...
46309  5013032022  제주특별자치도  서귀포시        표선면        하천리         존재        NaN
46310  5013032023  제주특별자치도  서귀포시        표선면        성읍리         존재        NaN
46311  5013032024  제주특별자치도  서귀포시        표선면        가시리         존재        NaN
46312  5013032025  제주특별자치도  서귀포시        표선면        세화리         존재        NaN
46313  5013032026  제주특별자치도  서귀포시        표선면        토산리         존재        NaN

[46314 rows x 7 columns]

In [50]:
# 폐지된 지역 전부 삭제하기
# 값에 '폐지' 들어있으면 해당 레코드 통째로 지워야하는데,
# 일단 컬럼부터 분리하자! -> 컬럼명 바꾸고 '폐지여부' 컬럼 마지막에 새로 만들기
df.columns=['법정동코드', '지역1', '지역2', '지역3', '지역4', '지역5', '폐지여부']
df[df['지역2']=='폐지']

            법정동코드    지역1 지역2  지역3  지역4  지역5 폐지여부
1112   2100000000  부산직할시  폐지  NaN  NaN  NaN  NaN
1566   2200000000  대구직할시  폐지  NaN  NaN  NaN  NaN
1900   2300000000  인천직할시  폐지  NaN  NaN  NaN  NaN
2123   2400000000  광주직할시  폐지  NaN  NaN  NaN  NaN
2395   2500000000  대전직할시  폐지  NaN  NaN  NaN  NaN
45741  4900000000    제주도  폐지  NaN  NaN  NaN  NaN

In [25]:
df[df['지역3']=='폐지']

            법정동코드    지역1   지역2 지역3  지역4  지역5 폐지여부
1113   2111000000  부산직할시    중구  폐지  NaN  NaN  NaN
1165   2114000000  부산직할시    서구  폐지  NaN  NaN  NaN
1208   2117000000  부산직할시    동구  폐지  NaN  NaN  NaN
1232   2120000000  부산직할시   영도구  폐지  NaN  NaN  NaN
1260   2123000000  부산직할시  부산진구  폐지  NaN  NaN  NaN
...           ...    ...   ...  ..  ...  ...  ...
44771  4883000000   경상남도   사천군  폐지  NaN  NaN  NaN
45742  4911000000    제주도   제주시  폐지  NaN  NaN  NaN
45790  4913000000    제주도  서귀포시  폐지  NaN  NaN  NaN
45822  4971000000    제주도  북제주군  폐지  NaN  NaN  NaN
45980  4972000000    제주도  남제주군  폐지  NaN  NaN  NaN

[144 rows x 7 columns]

In [39]:
# df['폐지여부'] = [1 if [df['지역2']=='폐지']

df[(df['지역2']=='폐지') | (df['지역3'] == '폐지')| (df['지역4'] == '폐지')| (df['지역5'] == '폐지')]

            법정동코드      지역1   지역2   지역3  지역4  지역5 폐지여부
89     1111090100    서울특별시   종로구  창신1동   폐지  NaN  NaN
90     1111090200    서울특별시   종로구  창신2동   폐지  NaN  NaN
91     1111090300    서울특별시   종로구  창신3동   폐지  NaN  NaN
92     1111090400    서울특별시   종로구  숭인1동   폐지  NaN  NaN
93     1111090500    서울특별시   종로구  숭인2동   폐지  NaN  NaN
...           ...      ...   ...   ...  ...  ...  ...
46096  4972032025      제주도  남제주군   표선면  세화리   폐지  NaN
46097  4972032026      제주도  남제주군   표선면  토산리   폐지  NaN
46159  5011025305  제주특별자치도   제주시   애월읍  귀일리   폐지  NaN
46160  5011025306  제주특별자치도   제주시   애월읍  어도리   폐지  NaN
46161  5011025307  제주특별자치도   제주시   애월읍  동귀리   폐지  NaN

[25483 rows x 7 columns]

In [40]:
df[(df['지역2']=='존재') | (df['지역3'] == '존재')| (df['지역4'] == '존재')| (df['지역5'] == '존재')]

            법정동코드      지역1   지역2  지역3  지역4  지역5 폐지여부
0      1100000000    서울특별시    존재  NaN  NaN  NaN  NaN
1      1111000000    서울특별시   종로구   존재  NaN  NaN  NaN
2      1111010100    서울특별시   종로구  청운동   존재  NaN  NaN
3      1111010200    서울특별시   종로구  신교동   존재  NaN  NaN
4      1111010300    서울특별시   종로구  궁정동   존재  NaN  NaN
...           ...      ...   ...  ...  ...  ...  ...
46309  5013032022  제주특별자치도  서귀포시  표선면  하천리   존재  NaN
46310  5013032023  제주특별자치도  서귀포시  표선면  성읍리   존재  NaN
46311  5013032024  제주특별자치도  서귀포시  표선면  가시리   존재  NaN
46312  5013032025  제주특별자치도  서귀포시  표선면  세화리   존재  NaN
46313  5013032026  제주특별자치도  서귀포시  표선면  토산리   존재  NaN

[19779 rows x 7 columns]

In [49]:
# 전체 레코드 갯수 46314
25483+19779+280+772

46314

In [52]:
df[df['폐지여부']=='폐지']

            법정동코드   지역1  지역2  지역3  지역4  지역5 폐지여부
6224   4146131021   경기도  용인시  처인구  모현면  왕산리   폐지
6225   4146131022   경기도  용인시  처인구  모현면  갈담리   폐지
6226   4146131023   경기도  용인시  처인구  모현면  초부리   폐지
6227   4146131024   경기도  용인시  처인구  모현면  일산리   폐지
6228   4146131025   경기도  용인시  처인구  모현면  매산리   폐지
...           ...   ...  ...  ...  ...  ...  ...
41514  4815331026  경상남도  마산시  회원구  내서면  상곡리   폐지
41515  4815331027  경상남도  마산시  회원구  내서면  원계리   폐지
41516  4815331028  경상남도  마산시  회원구  내서면  삼계리   폐지
41517  4815331029  경상남도  마산시  회원구  내서면  신감리   폐지
41518  4815331030  경상남도  마산시  회원구  내서면  감천리   폐지

[280 rows x 7 columns]

In [51]:
df[df['폐지여부']=='존재']

            법정동코드   지역1  지역2    지역3  지역4  지역5 폐지여부
6183   4146125021   경기도  용인시    처인구  포곡읍  삼계리   존재
6184   4146125022   경기도  용인시    처인구  포곡읍  금어리   존재
6185   4146125023   경기도  용인시    처인구  포곡읍  둔전리   존재
6186   4146125024   경기도  용인시    처인구  포곡읍  영문리   존재
6187   4146125025   경기도  용인시    처인구  포곡읍  마성리   존재
...           ...   ...  ...    ...  ...  ...  ...
40788  4812725026  경상남도  창원시  마산회원구  내서읍  상곡리   존재
40789  4812725027  경상남도  창원시  마산회원구  내서읍  원계리   존재
40790  4812725028  경상남도  창원시  마산회원구  내서읍  삼계리   존재
40791  4812725029  경상남도  창원시  마산회원구  내서읍  신감리   존재
40792  4812725030  경상남도  창원시  마산회원구  내서읍  감천리   존재

[772 rows x 7 columns]

In [53]:
df[df['폐지여부']=='폐지']

            법정동코드   지역1  지역2  지역3  지역4  지역5 폐지여부
6224   4146131021   경기도  용인시  처인구  모현면  왕산리   폐지
6225   4146131022   경기도  용인시  처인구  모현면  갈담리   폐지
6226   4146131023   경기도  용인시  처인구  모현면  초부리   폐지
6227   4146131024   경기도  용인시  처인구  모현면  일산리   폐지
6228   4146131025   경기도  용인시  처인구  모현면  매산리   폐지
...           ...   ...  ...  ...  ...  ...  ...
41514  4815331026  경상남도  마산시  회원구  내서면  상곡리   폐지
41515  4815331027  경상남도  마산시  회원구  내서면  원계리   폐지
41516  4815331028  경상남도  마산시  회원구  내서면  삼계리   폐지
41517  4815331029  경상남도  마산시  회원구  내서면  신감리   폐지
41518  4815331030  경상남도  마산시  회원구  내서면  감천리   폐지

[280 rows x 7 columns]

In [72]:
# masking으로 true나오는 것만 '폐지여부'컬럼에 '폐지' 넣어주기
df[df!='폐지']

            법정동코드      지역1   지역2  지역3  지역4  지역5 폐지여부
0      1100000000    서울특별시    존재  NaN  NaN  NaN  NaN
1      1111000000    서울특별시   종로구   존재  NaN  NaN  NaN
2      1111010100    서울특별시   종로구  청운동   존재  NaN  NaN
3      1111010200    서울특별시   종로구  신교동   존재  NaN  NaN
4      1111010300    서울특별시   종로구  궁정동   존재  NaN  NaN
...           ...      ...   ...  ...  ...  ...  ...
46309  5013032022  제주특별자치도  서귀포시  표선면  하천리   존재  NaN
46310  5013032023  제주특별자치도  서귀포시  표선면  성읍리   존재  NaN
46311  5013032024  제주특별자치도  서귀포시  표선면  가시리   존재  NaN
46312  5013032025  제주특별자치도  서귀포시  표선면  세화리   존재  NaN
46313  5013032026  제주특별자치도  서귀포시  표선면  토산리   존재  NaN

[46314 rows x 7 columns]

In [77]:
df['지역1'].unique()

array(['서울특별시', '부산직할시', '대구직할시', '인천직할시', '광주직할시', '대전직할시', '부산광역시',
       '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시', '세종특별자치시', '경기도',
       '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도', '경상남도', '제주도',
       '제주특별자치도'], dtype=object)

In [78]:
df[df['지역2']=='폐지']

            법정동코드    지역1 지역2  지역3  지역4  지역5 폐지여부
1112   2100000000  부산직할시  폐지  NaN  NaN  NaN  NaN
1566   2200000000  대구직할시  폐지  NaN  NaN  NaN  NaN
1900   2300000000  인천직할시  폐지  NaN  NaN  NaN  NaN
2123   2400000000  광주직할시  폐지  NaN  NaN  NaN  NaN
2395   2500000000  대전직할시  폐지  NaN  NaN  NaN  NaN
45741  4900000000    제주도  폐지  NaN  NaN  NaN  NaN

In [89]:
df[df.지역2 == '폐지']

            법정동코드    지역1 지역2  지역3  지역4  지역5 폐지여부
1112   2100000000  부산직할시  폐지  NaN  NaN  NaN  NaN
1566   2200000000  대구직할시  폐지  NaN  NaN  NaN  NaN
1900   2300000000  인천직할시  폐지  NaN  NaN  NaN  NaN
2123   2400000000  광주직할시  폐지  NaN  NaN  NaN  NaN
2395   2500000000  대전직할시  폐지  NaN  NaN  NaN  NaN
45741  4900000000    제주도  폐지  NaN  NaN  NaN  NaN

In [90]:
df['폐지'] = ['폐지' if i =='폐지' for i in df.지역2]

SyntaxError: invalid syntax (<ipython-input-90-93754346f2b6>, line 1)

In [101]:
df.loc[df.지역2 == '폐지',  '폐지여부'] = 'Y'

In [93]:
df[df.폐지여부 == 'Y']

            법정동코드    지역1 지역2  지역3  지역4  지역5 폐지여부
1112   2100000000  부산직할시  폐지  NaN  NaN  NaN    Y
1566   2200000000  대구직할시  폐지  NaN  NaN  NaN    Y
1900   2300000000  인천직할시  폐지  NaN  NaN  NaN    Y
2123   2400000000  광주직할시  폐지  NaN  NaN  NaN    Y
2395   2500000000  대전직할시  폐지  NaN  NaN  NaN    Y
45741  4900000000    제주도  폐지  NaN  NaN  NaN    Y

In [103]:
df.loc[(df.지역3 == '폐지')|(df.지역4 == '폐지')|(df.지역5 == '폐지')|(df.폐지여부 == '폐지'), '폐지여부' ] = 'Y'

In [104]:
df[df.폐지여부 == 'Y']

            법정동코드      지역1   지역2   지역3  지역4  지역5 폐지여부
89     1111090100    서울특별시   종로구  창신1동   폐지  NaN    Y
90     1111090200    서울특별시   종로구  창신2동   폐지  NaN    Y
91     1111090300    서울특별시   종로구  창신3동   폐지  NaN    Y
92     1111090400    서울특별시   종로구  숭인1동   폐지  NaN    Y
93     1111090500    서울특별시   종로구  숭인2동   폐지  NaN    Y
...           ...      ...   ...   ...  ...  ...  ...
46096  4972032025      제주도  남제주군   표선면  세화리   폐지    Y
46097  4972032026      제주도  남제주군   표선면  토산리   폐지    Y
46159  5011025305  제주특별자치도   제주시   애월읍  귀일리   폐지    Y
46160  5011025306  제주특별자치도   제주시   애월읍  어도리   폐지    Y
46161  5011025307  제주특별자치도   제주시   애월읍  동귀리   폐지    Y

[25763 rows x 7 columns]

In [106]:
df.loc[(df.지역2 == '존재')|(df.지역3 == '존재')|(df.지역4 == '존재')|(df.지역5 == '존재')|(df.폐지여부 == '존재'), '폐지여부' ] = 'N'
df[df.폐지여부 == 'N']

            법정동코드      지역1   지역2  지역3  지역4  지역5 폐지여부
0      1100000000    서울특별시    존재  NaN  NaN  NaN    N
1      1111000000    서울특별시   종로구   존재  NaN  NaN    N
2      1111010100    서울특별시   종로구  청운동   존재  NaN    N
3      1111010200    서울특별시   종로구  신교동   존재  NaN    N
4      1111010300    서울특별시   종로구  궁정동   존재  NaN    N
...           ...      ...   ...  ...  ...  ...  ...
46309  5013032022  제주특별자치도  서귀포시  표선면  하천리   존재    N
46310  5013032023  제주특별자치도  서귀포시  표선면  성읍리   존재    N
46311  5013032024  제주특별자치도  서귀포시  표선면  가시리   존재    N
46312  5013032025  제주특별자치도  서귀포시  표선면  세화리   존재    N
46313  5013032026  제주특별자치도  서귀포시  표선면  토산리   존재    N

[20551 rows x 7 columns]

In [110]:
# 전체 레코드 갯수 46314, 폐지 여부 칼럼 값 Y + N 갯수 일치 25763+20551

# 광역시도 값 갯수 확인 : 17개로 메인 데이터셋이랑 일치함
df[df['폐지여부']=='N']['지역1'].nunique()

17