# 노트
작성자 : 이슬아  
엘리스 제공 기본 데이터셋  
기간 : 2019-08-01 ~ 2021-08-31

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
plt.rc('font', family='AppleGothic')

In [6]:
# # 4개의 데이터 하나로 통합하기
# df_1 = pd.read_csv('/Users/seulalee/OneDrive/MyStudy/210816_엘리스AI트랙/project/project-template/rawdata/elicer_col_name/elicer_2019_col_name.csv')
# df_2 = pd.read_csv('/Users/seulalee/OneDrive/MyStudy/210816_엘리스AI트랙/project/project-template/rawdata/elicer_col_name/elicer_2020_1_col_name.csv', encoding = 'cp949')
# df_3 = pd.read_csv('/Users/seulalee/OneDrive/MyStudy/210816_엘리스AI트랙/project/project-template/rawdata/elicer_col_name/elicer_2020_2_col_name.csv')
# df_4 = pd.read_csv('/Users/seulalee/OneDrive/MyStudy/210816_엘리스AI트랙/project/project-template/rawdata/elicer_col_name/elicer_2021_col_name.csv', encoding = 'cp949')

In [ ]:
# print(df_1.size+df_2.size+df_3.size+df_4.size)

In [19]:
# df = np.concatenate([df_1, df_2, df_3, df_4])
# df = pd.DataFrame(df)

In [4]:
df = pd.read_csv('/Users/seulalee/OneDrive/MyStudy/210816_엘리스AI트랙/TeamProject1/Team11_NaplessRabbit/project-template/rawdata/시간-지역별배달주문건수/time_area_delivery_freq.csv')

In [5]:
df.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [6]:
df.head(10)

            0  1    2         3     4   5
0  2019-08-01  0  강원도       속초시    교동   1
1  2019-08-01  0  경기도  고양시 일산동구   마두동   4
2  2019-08-01  0  경기도  고양시 일산동구   백석동  28
3  2019-08-01  0  경기도  고양시 일산동구   식사동   3
4  2019-08-01  0  경기도  고양시 일산동구   장항동   4
5  2019-08-01  0  경기도  고양시 일산동구  정발산동   2
6  2019-08-01  0  경기도  고양시 일산서구   일산동   7
7  2019-08-01  0  경기도  고양시 일산서구   탄현동   3
8  2019-08-01  0  경기도       광명시   광명동   9
9  2019-08-01  0  경기도       광명시   철산동  13

In [48]:
# df.to_csv('/Users/seulalee/OneDrive/MyStudy/210816_엘리스AI트랙/TeamProject1/Team11_NaplessRabbit/project-template/rawdata/시간-지역별배달주문건수/time_area_delivery_frequency.csv')

In [7]:
# 컬럼이름 넣어주기
df.columns=['날짜','시간대', '광역시도', '시군구', '읍면동', '배달건수']
df

                 날짜  시간대  광역시도       시군구  읍면동  배달건수
0        2019-08-01    0   강원도       속초시   교동     1
1        2019-08-01    0   경기도  고양시 일산동구  마두동     4
2        2019-08-01    0   경기도  고양시 일산동구  백석동    28
3        2019-08-01    0   경기도  고양시 일산동구  식사동     3
4        2019-08-01    0   경기도  고양시 일산동구  장항동     4
...             ...  ...   ...       ...  ...   ...
2382976  2021-08-31   23  충청남도   천안시 서북구  쌍용동     6
2382977  2021-08-31   23  충청북도       제천시  신백동     6
2382978  2021-08-31   23  충청북도       제천시  신월동     2
2382979  2021-08-31   23  충청북도       제천시  천남동     1
2382980  2021-08-31   23  충청북도       제천시  하소동     4

[2382981 rows x 6 columns]

In [8]:
# 기간 확인
print(np.min(df['날짜']))
print(np.max(df['날짜']))

2019-08-01
2021-08-31

In [10]:
# 날짜 데이터 타입 바꾸고 요일정보 추가하기
df['날짜'] = pd.to_datetime(df['날짜'], format='%Y-%m-%d')

num_to_day = {
    0 : '월',
    1 : '화',
    2 : '수',
    3 : '목',
    4 : '금',
    5 : '토',
    6 : '일',
}

df['요일'] = [num_to_day[k] for k in df['날짜'].dt.dayofweek] ## 요일 칼럼
df.tail()

                날짜  시간대  광역시도      시군구  읍면동  배달건수 요일
2382976 2021-08-31   23  충청남도  천안시 서북구  쌍용동     6  화
2382977 2021-08-31   23  충청북도      제천시  신백동     6  화
2382978 2021-08-31   23  충청북도      제천시  신월동     2  화
2382979 2021-08-31   23  충청북도      제천시  천남동     1  화
2382980 2021-08-31   23  충청북도      제천시  하소동     4  화

In [11]:
df.dtypes

날짜      datetime64[ns]
시간대              int64
광역시도            object
시군구             object
읍면동             object
배달건수             int64
요일              object
dtype: object

In [12]:
df.to_csv('/Users/seulalee/OneDrive/MyStudy/210816_엘리스AI트랙/TeamProject1/Team11_NaplessRabbit/project-template/cleaned_data/시간지역별배달주문건수.csv')